.fa-feedback-item-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.fa-feedback-item {
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    background-color: ghostwhite;
    width: 50vw;
}

.fa-feedback-item-topbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.fa-feedback-item-rating {
    background-color: var(--jet);
    border-radius: 20px;
    padding: 7.5px;
    outline: var(--glossy-grape) solid 2px;
    color: white;
}

.fa-feedback-item-text {
    padding: 20px 50px;
}

.fa-feedback-item-close {
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 480px) { 
    .fa-feedback-item{
        width: 90vw;
    }
}