@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* body {
  background-color: var(--jet);
  overflow-x: hidden;
}
:root {
  --ash-gray: #acbdbaff;
  --gainsboro: #cdddddff;
  --glossy-grape: #a599b5ff;
  --jet: #2e2f2fff;
  --rich-black-fogra-29: #051014ff;
}